<% provide(:title, "Clients") %>
<section class="centered" id="main">

	<h4>Studio</h4>
	<p>
	<img class="pic" src="/assets/others/image7.JPG" onload="this.width*=0.7;"/>
	Lazy Kids <br />
	Black River Revue <br />
	Preston Gunderson <br />
	Swallows <br />
	Avenue Army <br />
	Danger Ronnie & The Spins <br />
	Moving Parts <br />
	Eric Gordon <br />
	Daytrotter.com <br />
	Moose Knuckle Brothers <br />
	Homeless <br />
	Gatzby <br />
	Chris Geno <br />
	Herman Jones <br />
	Jim Shoulak <br />
	Wild Rovers Tour <br />
	Concrete Surgery <br />
	</p>

	<h4>Live Sound</h4>
	<p>
	<img class="pic" src="/assets/others/image11.JPG" onload="this.width*=0.7;"/>
	Daytrotter.com <br />
	Codfish Hollow <br />
	Thielman Opera House <br />
	Chris Hawkey <br />
	Minnesota Blues Society <br />
	Shoulak Breast Festival <br />
	Eastside Arts Council <br />
	Duluth Flood Relief Fundraiser <br />
	Richfield Street Festival <br />
	Brat Pack Radio <br />
	Free & Easy Band <br />
	Nicholas David (with Free & Easy) <br />
	Menace <br />
	Sell Out Stereo <br />
	Boogie Wonderland <br />
	Dirty Word <br />
	Jam Factory Band <br />
	Lolo’s Ghost <br />
	Avenue Army <br />
	Moose Knuckle Brothers <br />
	Flywheel <br />
	Drop Tailgate <br />
	Kendra Glenn Band <br />
	Herman Jones My Funk Brother Band
	</p>


</section>