<% provide(:title, "Contact") %>
<section class="centered" id="main">
  <h4>Jake Shoulak</h4>
  <p>
	Audio Engineer <br />
	<a href="jakeshoulak@fullcirclestudios.net">jakeshoulak@fullcirclestudios.net</a> <br />
	Jake's number
  </p>
  
  <h4>Matt Bombich</h4>
  <p>
	Audio Engineer <br />
	<a href="mattbombich@fullcirclestudios.net">mattbombich@fullcirclestudios.net</a><br />
	Matt's number
  </p>
  
  <h4>Steve Murray</h4>
  <p>
  	Audio Engineer <br />
	<a href="stevemurray@fullcirclestudios.net">stevemurray@fullcirclestudios.net</a><br />
	Steve's number
  </p>
  
</section>
