<% provide(:title, "CONTACT") %>
<section class="center border main">
	<h3>CONTACT</h3>
	<p>
		For booking inquiries please contact
		<a href="mailto:<%= @pgund_email %>"><%= @pgund_email %></a>
	</p>
</section>