<% provide(:title, "Contact") %>
<section class="centered" id="main">
  <h5>Jake Shoulak</h5>
  <p>
	Audio Engineer <br />
	Jake's email <br />
	Jake's number
  </p>
  
  <h5>Matt Bombich</h5>
  <p>
	Audio Engineer <br />
	Matt's email <br />
	Matt's number
  </p>
  
  <h5>Steve Murray</h5>
  <p>
  	Audio Engineer <br />
	Steve's email <br />
	Steve's number
  </p>
  
  <h5>Joe Shoulak</h5>
  <p>
  	Web Developer and System Administrator <br />
	Joe's email <br />
	Joe's number
  </p>
  
</section>
