<% provide(:title, "Contact") %>
<section>
	<h5> For booking, email 156 Band at... </h5>
	<a href="">156 Email Here</a>
	<h5> For news and updates... </h5>
	<p>Links still for Preston Gunderson</p>
	<% @links.each do |link| %>
		<%= link_to image_tag(link[0], class: "social"), link[1] %>
	<% end %>
</section>
