<% provide(:title, "Contact") %>
<section class="center border main">
	<p class="indent">
		For booking inquiries please contact
		<a href="mailto:<%= @pgund_email %>"><%= @pgund_email %></a>
	</p>
</section>