<% provide(:title, "Contact") %>
<section class="centered" id="main">
  <h4>Jake Shoulak</h4>
  <p>
	Audio Engineer <br />
	Jake's email <br />
	Jake's number
  </p>
  
  <h4>Matt Bombich</h4>
  <p>
	Audio Engineer <br />
	Matt's email <br />
	Matt's number
  </p>
  
  <h4>Steve Murray</h4>
  <p>
  	Audio Engineer <br />
	Steve's email <br />
	Steve's number
  </p>
  
  <h4>Joe Shoulak</h4>
  <p>
  	Web Developer <br />
	Joe's email <br />
	Joe's number
  </p>
  
</section>
