<% provide(:title, "Contact") %>
<section class="centered" id="main">
	<h1>Contact</h1>
  <h4>Matt Bombich</h4>
  <p>
	Audio Engineer <br />
	<a href="m.bombich@gmail.com">m.bombich@gmail.com</a><br />
	218-393-8555
  </p>
  
  <h4>Steve Murray</h4>
  <p>
  	Audio Engineer <br />
	<a href="stevemurray@fullcirclestudios.net">stevemurray@fullcirclestudios.net</a><br />
	218-391-1533
  </p>
  
  <h4>Jake Shoulak</h4>
  <p>
	Audio Engineer <br />
	<a href="jakeshoulak@fullcirclestudios.net">jakeshoulak@fullcirclestudios.net</a> <br />
	763-412-9455
  </p>
  
</section>
