<% provide(:title, "Gallery") %>
<section class="centered" id="main">
	<p>
		Gallery (click image to enter slideshow)
	</p>

	<%# [1, 2, 16, 18, 23, 24, 25, 27, 28, 31, 32, 29, 35, 45, 46, 47, 48, 10, 8].each do |pic| %>
	   	<a href="/assets/gallery/image<%#=pic%>.JPG" 
	   	   class="lightview image" 
	   	   data-lightview-group="gallery"><img src="/assets/gallery/image<%=pic%>.JPG" style="width: 50%; margin-left: 25%; margin-right: 25%; margin-bottom: 10px;"/></a>
	<%# end %>

