<% provide(:title, "Gear") %>
<section class="centered" id="main">
	<h1> Gear </h1>

	<img class="pic" src="/assets/image19.JPG" onload="this.width*=0.4;"/>
	<h4> Monitors and Multitracks </h4>
	<br />
	<p>
		Adams A77X Studio Monitors <br />
		Tannoy Reveal 501a Monitors <br />
		Pro Tools HD10 on a Mac Pro (2.8Ghz Quad Core, 8gb RAM) <br />
		Avid HDX PCIe Card <br />
		Avid HD I/O Interfaces (16x16 and 8x8x8) <br />
		Ampex ATR-700 2-track, 4-channel reel-to-reel tape machine <br />
	</p>
	<br />
	<h4> Mic Preamps and Outboard </h4>
	<br />
	<p>
		Great River ME-1NV <br />
		API 512c <br />
		Focusrite ISA 428 (4-Channel) <br />
		Rupert Neve Designs Portico 5012 (2-Channel) <br />
		Presonus Blue Tube (4-Channel) <br />
		Presonus XMAX Class A (24 Channel) <br />
		Empirical Labs ELX8 Distressor (2-Channel) <br />
		Summit Audio TLA-100A <br />
	</p>
	<br />
	<img class="pic" src="/assets/image21.JPG" onload="this.width*=0.4;"/>
	<h4> Microphones </h4>
	<br />
	<p>
		Telefunken AK47 <br />
		Coles 4083 (2) <br />
		Neumann KM-184 (2) <br />
		Neumann TLM-103 <br />
		Shure SM7B <br />
		Shure Beta 52 (2) <br />
		SM57s & 58s <br />
		Blue Bluebird (2) <br />
		Sennheiser 421 (4) <br />
		Sennheiser e609 <br />
		Audix i5 <br />
	</p>
	<br />
	<h4> Instruments and Amps </h4>
	<br />
	<p>
		PRS 408 Maple <br />
		Music Man Sillouhete Special <br />
		Ibanez LP (Les Paul 1972 Lawsuit) <br />
		Fender Hot Rod Deluxe III <br />
		Orange Dual Terror <br />
		The Classic Smokey Amp <br />
		Blackstar 1x10 Cabinet <br />
		Taylor 414ce acoustic <br />
		Sierra SD35CE acoustic <br />
		<br />
		<img class="pic" src="/assets/image36.JPG" onload="this.width*=0.4;"/>
		Music Man Sterling Bass <br />
		Ampeg Portaflex 350 Bass Amp <br />
		Ibanez Acoustic Bass <br />
		<br />
		PDP M5 Maple Drum Kit (18x22, 8x10, 9x12, 12x14) <br />
		14” Paiste T20 Prototype Hi-Hats <br />
		16” Sabian HHX Evolution Crash <br />
		18” Sabian HHX Evolution Crash <br />
		18” Sabian Omni <br />
		Wuhan China <br />
		Pork Pie Brass Patina Snare (7x13) <br />
		Yamaha SD965RC Recording Custom Snare (6.5x14) <br />
		PDP M5 Maple Snare (5.5x14) <br />
		Pearl Canyon Cajon <br />
		Various other percussion instruments <br />
		<br />
		<img class="pic" src="/assets/image31.JPG" onload="this.width*=0.4;"/>
		Hammond M3 Organ <br />
		Wurlitzer 4480 Organ <br />
		Wurlitzer 4300 Organ <br />
		Fender Rhodes Mark I <br />
		M-Audio Oxygen49 <br />
	</p>
	<br />
	<h4> Plug-Ins </h4>
	<br />
	<p>
		HEAT <br />
		Waves Platinum Bundle <br />
		Waves CLA Classic Compressors Bundle <br />
		Waves JJP Analog Legends Bundle <br />
		Waves Kramer Tape Saturation <br />
		Sonnox Oxford EQ, Dynamics, Reverb <br />
		Massey THC and DeEsser <br />
		Native Instruments Solid - Dynamics, EQ, Bus Comp <br />
		Softube Saturation Knob <br />
		Eventide Ultra Channel <br />
		Celemony Melodyne Studio 3 <br />
		Steven Slate Trigger 2 <br />
		Steven Slate Platinum <br />
		Drumagog 5 <br />
		Komplete 9 Instrument Bundle <br />
		Garritan Instruments <br />
		Finale 2014 <br />
	</p>
	<br />
	<h4> Miscellaneous </h4>
	<br />
	<p>
		Radial JDI Duplex Stereo DI <br />
		Radial JDI Mono DI <br />
		Radial X-Amp active re-amp <br />
		Hughes & Kettner Redbox Classic DI <br />
		Various Guitar Pedals (20+)	 <br />
	</p>
</section>