<% provide(:title, "Home") %>
<section class="centered" id="main">
	<h1>Home</h1>
	<br />
	
	<p>
		Full Circle Studios has been recording music and providing live sound production 
		for the last six years. We’re a professional, mid-size, recording studio located in 
		a renovated pole barn in Corcoran, MN. Surrounded by trees and across the road 
		from a farm, our studio is the perfect escape from the distractions of the big city. 
		We record all types of music in our studio or on location. We can also provide live 
		sound production for your next event. Give us a call or shoot us an email to start 
		talking about your next project.
	</p>	
</section>