<% provide(:title, "HOME") %>
<section id="home" class="center border main">
	<h3>HOME</h3>
	<%= image_tag(@model_src, width: 300, id: "model") %>
	<p>
		Welcome to the official site of Singer Songwriter, Preston Gunderson!
	</p>
	<%= image_tag(@quote_src, height: 300, width: 300, id: "quote") %>

</section>