<% provide(:title, "HOME") %>
<section class="center border">
	<h3>HOME</h3>
	<img src="/assets/Model.jpg" alt="Preston Gunderson" height="150" width="150" class="wrap" id="model"/>
	<p>
		Welcome to the official site of Singer Songwriter,</br>
		Preston Gunderson.
	</p>
</section>