<% provide(:title, "HOME") %>
<section id="home" class="center border">
	<h3>HOME</h3>
	<%= image_tag(@model_src, height: 150, width: 150, id: "model") %>
	<%= image_tag(@quote_src, height: 360, width: 360, id: "quote") %>
	<p>
		Welcome to the official site of Singer Songwriter, Preston Gunderson!
	</p>
</section>