<% provide(:title, "HOME") %>
<section id="home" class="center border">
	<h3>HOME</h3>
	<%= image_tag(@model_src, width: 300, class: "photo", id: "model") %>
	<p>
		Welcome to the official site of Singer Songwriter, Preston Gunderson!
	</p>
	<%= image_tag(@quote_src, height: 360, width: 360, class: "photo", id: "quote") %>

</section>