<% provide(:title, "Music") %>
<section class="center border" id="main">
  <iframe width="650px" height="450px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F42699254"></iframe>
  <br />
  <br />
  <br />
  <br />
  <p class="indent">Click on an album to view it in iTunes</p>
	<% @albums.each do |album| %>
		<section class='album'>
			<%= link_to( image_tag(album[1]), album[0] ) %>
			<p> <%= album[2] %> </p>
		</section>
	<% end %>
	<a>Getting Good at Starting Over</a> (Coming soon!)
</section>