<% provide(:title, "MUSIC") %>
<section class="center border">
	<h3>MUSIC</h3>
	</br>
	<a href="https://itunes.apple.com/us/album/accidental-love-letters-single/id485158289">Accidental Love Letters - Single</a>
	<a href="https://itunes.apple.com/us/album/while-i-was-gone/id486808582"><img src="/assets/While_I_was_gone.jpg" class="album"/></a>
	<a href="https://itunes.apple.com/us/album/the-recluse-ep/id579311062"><img src="/assets/The_Recluse.jpg" class="album"/></a>
	<a href="https://itunes.apple.com/us/album/green-single/id510678840"><img src="/assets/Green.jpg" class="album"/></a>
	<a href="https://itunes.apple.com/us/album/forever-and-tomorrow-single/id517796378"><img src="/assets/Forever_and_tomorrow.jpg" class="album"/></a>
	<a href="#">Getting Good at Starting Over</a> (Coming soon!)
</section>