<% provide(:title, "MUSIC") %>
<section class="center border">
	<h3>MUSIC</h3>
	<p>
		<ul>
			<li><a href="https://itunes.apple.com/us/artist/preston-gunderson/id485158290">iTunes</a></li>
			<li><a href="https://play.spotify.com/artist/1yxgtesYYV5bztodL8z34K">Spotify</a></li>			
			<li><a href="https://itunes.apple.com/us/album/accidental-love-letters-single/id485158289">Accidental Love Letters - Single</a></li>
			<li><a href="https://itunes.apple.com/us/album/while-i-was-gone/id486808582">While I was Gone</a></li>
			<li><a href="https://itunes.apple.com/us/album/the-recluse-ep/id579311062">The Recluse - EP</a></li>
			<li><a href="https://itunes.apple.com/us/album/green-single/id510678840">Green - Single</a></li>
			<li><a href="https://itunes.apple.com/us/album/forever-and-tomorrow-single/id517796378">Forever and Tomorrow</a></li>
			<li><a href="#">Getting Good at Starting Over</a> (Coming soon!)</li>
		</ul>
	</p>
</section>