<% provide(:title, "MUSIC") %>
<section class="center border main">
	<h3>MUSIC</h3>
	<p class="indent">Click on the albums to view them in iTunes</p>
	<% @albums.each do |album| %>
		<section class='album'>
			<%= link_to( image_tag(album[1]), album[0] ) %>
			<p> <%= album[2] %> </p>
		</section>
	<% end %>
	<a>Getting Good at Starting Over</a> (Coming soon!)
</section>