<% provide(:title, "MUSIC") %>
<section class="center border">
	<h3>MUSIC</h3>
	<p>
		<ul>
			Note: None of the links work yet. 
			<li><a href="#">Accidental Love Letters - Single</a></li>
			<li><a href="#">While I was Gone</a></li>
			<li><a href="#">The Recluse - EP</a></li>
			<li><a href="#">Green - Single</a></li>
			<li><a href="#">Forever and Tomorrow</a></li>
			<li><a href="#">Getting Good at Starting Over</a></li>
		</ul>
	</p>
</section>