<% provide(:title, "VIDEOS") %>
<section class="center border">
	<h3>VIDEOS</h3>
	<iframe width="560" height="315" src="<%= @video_url %>" frameborder="0" id="vid" class="border" allowfullscreen></iframe>
</section>