<% provide(:title, "VIDEOS") %>
<section class="center border">
	<h3>VIDEOS</h3>
	<iframe width="560" height="315" src="http://www.youtube.com/embed/videoseries?list=PLGy1un5MExBjNU6qEXjfb6TZT07F4kJ3n" frameborder="0" allowfullscreen></iframe>
</section>