@import "bootstrap";

/* Variables */
$red: lighten(#ff0000, 10%);
$blue: rgb(77, 104, 162);
$tab-color: $blue;
$back-shadow: #888;
$front-shadow: #444;

/* Classes */
.center {
	background: #FFF;
	margin: {
		left: auto;
		right: auto;
	}
}

.border {
	margin-bottom: 10px;
	padding: {
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;
	}
	box-shadow: 10px 10px 5px $front-shadow;
}

img.album {
	position: relative;
	height: 200px;
	margin: {
		left: 10px;
		right: 10px;
		bottom: 30px;
	}
	&:hover {
		top: -20px;
		box-shadow: 10px 30px 5px $front-shadow;
	}
}

img.gallery {
	height: 300px;
	margin: {
		left: 50px;
		right: 50px;
		bottom: 50px;
	}
	&:hover {
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		transform: scale(1.2);
	}
}

/* IDs */
#vid {
	position: relative;
	box-shadow: 10px 10px 5px $back-shadow;
	border: {
		style: solid;
		width: 1px;
	}
}

#home {
		height: 325px;
}

#model {
	float: right;
	position: relative;
	left: -40px;
}

#cover {
	position: relative;
}

/* Large containers */
body {
	background: {
		color: #ccc;
		// image:	url("/assets/Sound_Check.jpg");
		// repeat: no-repeat;
		// position: center;
		// attachment: fixed;
	}
}

nav {
	margin-top: 10px;
	padding: {
		left: 10px;
		right: 10px;
	}
	text-align: center;
	height: 23px;
	li {
		background: rgba($tab-color, 0);
		overflow-y: hide;
		border: {
			bottom: solid 3px $tab-color;
		}
		display: inline-block;
		position: relative;
		left: -18px;
		padding: {
			right: 13px;
			left: 13px;
		}
		a, a:hover {
			color: rgb(51, 51, 51);
			font-weight: bold;
			text-decoration: none;
		}
		&:hover {
			background: rgba($tab-color, 0.8);
		}
	}
}

footer {
	color: #888;
	line-height: 8px;
	height: 10px;
	text-align: center;
	font: {
		style: italic;
		size: 8pt;
	}
}

/* Small Containers */
p {
	text-indent: 20px;
}

li {
	list-style-type: none;
}

img {
	padding: 5px 5px 5px 5px;
	border:{
		width: 1px;
		style: solid;
		color: #000;
	}
	box-shadow: 10px 10px 5px $back-shadow;
}

h1, h3 {
	text-align: center;
	margin-bottom: 30px;
}
