<% provide(:title, "Emails | Index") %>
<section class="center border" id="main">
  <%= link_to 'Send a new email!', '/emails/new' %>
  <% Email.all.reverse.each do |e| %>
    <container>
      <h4><%= e.subject %></h4>
      <p><%= e.message %></p>
      <p><%= e.created_at %></p>
    </container>
    <br />
  <% end %>
</section>