<head>
	<% @title = yield(:title) %>
	<title>156 | <%= @title %></title>
	<%= stylesheet_link_tag    	'application', :media => 'all' %>
	<%= javascript_include_tag 	'application' %>
</head>


<header>
	<p>The official site of</p>
	<h1>156 Band</h1>
</header>

<nav> 
	<ul>
		<% ['Home', 'Bio', 'Gallery', 'Music', 'Tour', 'Videos', 'Contact', 'Merch'].each do |page| %>
			<li><%= link_to( page.upcase, "/#{page.downcase}") %></li>
		<% end %>
	</ul>
</nav>