<head>
	<% @title = yield(:title) %>
	<title>Full Circle Studios | <%= @title %></title>
	<%= stylesheet_link_tag    	'application', :media => 'all' %>
	<%= javascript_include_tag 	'application' %>
</head>


<header class="centered">
	<p>The official site of</p>
	<h1>Full Circle Studios</h1>
</header>

<nav class="centered"> 
	<ul>
		<% ['Home', 'About', 'Gear', 'Contact'].each do |page| %>
			<li><%= link_to( page.upcase, "/#{page.downcase}") %></li>
		<% end %>
	</ul>
</nav>